body {
    background-image: url('pexels-olly-3756616.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: Arial, sans-serif; /* Optional: Set font family */
    margin: 0; /* Optional: Remove default margin */
    padding: 0; /* Optional: Remove default padding */
}

h1 {
    text-align: center;
    padding: 50px 0;
    color: #fff; /* Optional: Set text color */
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signup-form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Translucent white background */
}

button {
    padding: 10px 20px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}